
.board {
    margin: 15px;
    margin-left: 400px;
    display: flex;
    height: 576px;
    width: 576px;
    border: 15px solid #deb887;
    border-radius:10px; 
    background-color: #fff8dc;
    flex-wrap: wrap;
    
}